@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600&family=Italiana&family=Parisienne&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: theme('colors.cream');
  color: theme('colors.ink');
  font-weight: 300;
}
